
  
  body {
    background-image: url(https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=sincerely-media-gPnHi8AmO5k-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  
  .navbar{
    margin-bottom: 5px;
    
  }
  
  #about-me{
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    box-shadow: 0 3px 6px rgb(0, 0, 0), 0 3px 6px rgb(0, 0, 0);
  }
  
  #follow{
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    box-shadow: 0 3px 6px rgb(0, 0, 0), 0 3px 6px rgb(0, 0, 0);
  }

  #contact{
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    box-shadow: 0 3px 6px rgb(0, 0, 0), 0 3px 6px rgb(0, 0, 0);
  }

  .card {
   display:flex;
   margin-top: 40px;
   font-size: 20px;
   
  
  }

  .card-body{
    width: 300px;
  margin: 0 auto; 
  position: static;
  }
  #profile-pic{
     width: 150px;
    float: left;
     margin-left: 0;
     height: 45%;
     margin: 10px;
     

  }
  img {
    border: solid;
    padding:2px;
    width: 300px;
  
   }
  

  
  .p {
    font-size: 30px;
    text-align: left;
    position: absolute; 
    text-emphasis-style: bold ;
    color: black;
    
  }
 
.portfolio {
  
  height: 1060px;
  margin-top: 150px;
  margin-left: 300px;
  margin-right: 120px;
  padding-top: 20px;
  text-align: center;
  align-content: center;
}

.portfolio.row{
  margin-right: 20px;
}
.portfolio-image {
  position: static;
  padding: 10px;
  max-width: 300px;

}

.thumbnail{
  border: solid;
  padding: 2px;
  border-color: black;
}

.card {
  margin:  65px;
  margin-left: 110px;
  box-shadow: 0 3px 6px rgb(0, 0, 0), 0 3px 6px rgb(0, 0, 0);
 }

.card-title{
  color:black;
}
.card-text{
  color: black;
}
.card-body{
  vertical-align:inherit;
  
  
}
h1{
  text-align: center;
}
h2 {
  font-size: 18px;
  font-display: left;
  
 }
h4{
  text-align: center;
}

a{
 color:black;
}
i{
  color:black;
}



